<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel Genix</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"/>
      <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet"/>
  {{!-- <link rel="stylesheet" href="css/style.css" /> --}}
  {{!-- <link rel="stylesheet" href="css/about.css"/> --}}
  <style>
    .team_img img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: 0px;
  margin-left: 10%;
}

.textt h2,
h4 {
  text-align: left !important;
  margin-left: 10%;
  color: brown;
}
.about-div p {
  color: rgb(250, 248, 248);
  font-size: 1.5rem;
  margin-left: 30%;
  font-weight: bold;
  color: black;
}

  </style>
</head>
<body>
  {{>navbar}}
      <h1 style="text-align: center; background-color: lightblue;">About of Our Travel Genix</h1>
      <section class="about-div">
          <div class="team_img">
            <img src="images/baljit.jpg" alt="Team_image">

          <div class="textt">
          <h2>Mr. Baljit Singh</h2>
          <h4 style="color:chartreuse;">{ CEO OF TRAVEL GENIX }</h4>
          </div>
          </div>
          <p>It is a dynamic website developed for a travel company 
            operating in Uttarakhand and Andaman and Nicobar Islands. The main purpose of 
            this website is firstly to provide high quality images and videos of many beautiful 
            sites located in Uttarakhand and Andaman and Nicobar. And if tourists want to visit 
            any site then for this we provide an attractive package to visit the site. We include all 
            important sits include Ramsar or Wetland Sites like (Uttarakhand: Asan Barrage) and 
            blue flag beaches of Andaman and Nicobar and wild life century in both and coral 
            reef.</p><br>
      </section>
</body>
</html>