<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel Genix</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"/>
      <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet"/>
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
    {{!-- <header>
        <div>
          <i class="fas fa-plane"></i>
          <h2>Travel Genix</h2>
        </div>
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="package.html">Package</a></li>
            <li><a href="contactus.html">Contact</a></li>
            <li><a href="login.html">Log In</a></li>
            <li><a href="cart.html">Cart<i class="fas fa-luggage-cart"></i></a></li>
          </ul>
        </nav>
      </header> --}}

      {{>navbar}}

      <section class="badri-div">
        <section class="titles">
            <marquee><h4 style="color: red;">!! ॐ !! बद्रीनाथ में जो प्रतिमा जी है़ वह विष्णु के एक रूप "बद्रीनारायण" की है। ... मन्दिर के नाम पर ही इसके इर्द-गिर्द बसे नगर को भी बद्रीनाथ ही कहा जाता है।</h4></marquee>
            <h1>Badrinath Mandir</h1>
            <h2>
              Amazing Badrinath Mandir Tours, Explore Our Popular Travel Agency<br>
            </h2>
            <p>Welcome To Uttarkhand And Andamon Nikobar Islands</p>
            <p>!! बद्रीनाथ मन्दिर का उल्लेख विष्णु पुराण, महाभारत तथा स्कन्द पुराण समेत कई प्राचीन ग्रन्थों में मिलता है। !!</p>
          </section>
      </section>

      <section class="container-boxes">
        <div class="box">
          <div class="text">
            <a href="">
              <h3>Book Now</h3>
              <p>Pandukeshwar</p>
              <p>Mana Village</p>
              <p>Tapta Kund Badrinath</p>
            </a>
          </div>
        </div>
        <div class="box">
          <div class="text">
            <a href="">
              <h3>Book Now</h3>
              <p>Badrinath mandir</p>
              <p>Charan Paduka</p>
              <p>Visudhara falls</p>
            </a>
          </div>
        </div>
        <div class="box">
          <div class="text">
            <a href="">
              <h3>Book Now</h3>
              <p>Bhim Pull</p>
              <p>Narad Kund</p>
              <p>Sarswati River</p>
            </a>
          </div>
        </div>
      </section>
      <section class=packagesoffers id=packagediv>
        <div class="container headings text-center">
        <h1 class="text-center font-weight-bold">Visit to Badrinath Mandir</h1>
        <h2>Popular Destination And Affordable Packages For Badrinath</h2>
        </div>
        </section>
        <section>
            <div class="travel-tour travel-light-grey">
                    <div class="tour-wrap">
                        <a href="#" class="tour-entry animate-box">
                            <div class="tour-img" style="background-image: url(images/badrinath.jpg);"><p class="imgp">बद्रीनाथ मन्दिर</p></div>
                            <span class="desc">
                                <h2>Family Tour in Badrinath mandir</h2>
                                <span class="city">Uttarakhand</span>
                                <span class="price">Rs: 980/-</span>
                                <button class="cart-b">Add to cart</button>
                            </span>
                        </a>
                        <a href="#" class="tour-entry animate-box">
                            <div class="tour-img" style="background-image: url(images/pandu.jpg);"><p class="imgp">पांडुकेश्वर</p></div>
                            <span class="desc">
                                <h2>Family Tour in Pandukeshwar</h2>
                                <span class="city">Uttarakhand</span>
                                <span class="price">Rs: 650/-</span>
                                <button class="cart-b">Add to cart</button>
                            </span>
                        </a>
                        <a href="#" class="tour-entry animate-box">
                            <div class="tour-img" style="background-image: url(images/tapt.jpg);"><p class="imgp">तप्त-कुण्ड</p></div>
                            <span class="desc">
                                <h2>Family Tour in Tapta Kund Badrinath</h2>
                                <span class="city">Uttarakhand</span>
                                <span class="price">Rs: 549/-</span>
                                <button class="cart-b">Add to cart</button>
                            </span>
                        </a>
                        <a href="#" class="tour-entry animate-box">
                            <div class="tour-img" style="background-image: url(images/charan.jpg);"><p class="imgp"> चरण-पादुका</p></div>
                            <span class="desc">
                                <h2>Family Tour in Charan Paduka</h2>
                                <span class="city">Uttarakhand</span>
                                <span class="price">Rs: 1199/-</span>
                                <button class="cart-b">Add to cart</button>
                            </span>
                        </a>
                    </div>
            </div>
            </section>

        
                <section class="details-div">
                    <marquee><h4>!! ॐ !! बद्रीनाथ में जो प्रतिमा जी है़ वह विष्णु के एक रूप "बद्रीनारायण" की है। ... मन्दिर के नाम पर ही इसके इर्द-गिर्द बसे नगर को भी बद्रीनाथ ही कहा जाता है।</h4></marquee>
                    <h1>प्रचलित कथाएँ :-</h1>
                    <p>ऋषिकेश से सम्बंधित अनेक धार्मिक कथाएँ प्रचलित हैं। कहा जाता है कि समुद्र मंथन के दौरान निकला विष शिव ने इसी स्थान पर पिया था।
                         विष पीने के बाद उनका गला नीला पड़ गया और उन्हें नीलकंठ के नाम से जाना गया। एक अन्य अनुश्रुति के अनुसार भगवान राम ने वनवास के दौरान यहाँ के जंगलों में
                          अपना समय व्यतीत किया था। रस्सी से बना लक्ष्मण झूला इसका प्रमाण माना जाता है। विक्रमसंवत १९९६ में लक्ष्मण झूले का पुनर्निर्माण किया गया। यह भी कहा जाता है कि
                          ऋषि रैभ्य ने यहाँ ईश्वर के दर्शन के लिए कठोर तपस्या की थी।उनकी तपस्या से प्रसन्न होकर भगवान हृषीकेश के रूप में प्रकट हुए। तब से इस स्थान को ऋषिकेश नाम से जाना जाता है।</p>
                        <h2>लक्ष्मण झूला</h2>
                        <p>गंगा नदी के एक किनार को दूसर किनार से जोड़ता यह झूला नगर की विशिष्ट की पहचान है। इसे विकतमसंवत १९९६ में बनवाया गया था। कहा जाता है कि गंगा नदी को पार करने के लिए लक्ष्मण ने इस स्थान पर जूट का झूला बनवाया था।</p>
                        <h2>त्रिवेणी घाट</h2>
                        <p>ऋषिकेश में स्नान करने का यह प्रमुख घाट है जहां प्रात: काल में अनेक श्रद्धालु पवित्र गंगा नदी में डुबकी लगाते हैं। कहा जाता है कि इस स्थान पर हिन्दू धर्म की तीन प्रमुख नदियों गंगा यमुना और सरस्वती का संगम होता है।</p>
                        <h2>स्वर्ग आश्रम</h2>
                        <p>स्वामी विशुद्धानन्द द्वारा स्थापित यह आश्रम ऋषिकेश का सबसे प्राचीन आश्रम है। स्वामी जी को 'काली कमली वाले' नाम से भी जाना जाता था। इस स्थान पर बहुत से सुन्दर मंदिर बने हुए हैं।</p>
                </section>
</body>
</html>