<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel Genix</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"/>
      <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet"/>
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
    {{!-- <header>
        <div>
          <i class="fas fa-plane"></i>
          <h2>Travel Genix</h2>
        </div>
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="package.html">Package</a>
            </li>
            <li><a href="contactus.html">Contactus</a></li>
            <li><a href="login.html">Log In</a></li>
            <li><a href="cart.html">Cart<i class="fas fa-luggage-cart"></i></a></li>
          </ul>
        </nav>
      </header> --}}
      {{>navbar}}

      <section class="kedar-div">
        <section class="titles">
            <marquee><h4 style="color: rgb(255, 145, 0);">!! ॐ !! Kedarnath temple is located in Rudraprayag district of Uttarakhand state of India. Kedarnath Temple is one of the four Jamshedar and Panch Kedar, joining the twelve Jyotirlingas in the lap of the Himalayan Mountains in Uttarakhand. Due to the unfavorable climate here, this temple opens for darshan between the months of April to November. </h4></marquee>
            <h1>Kedarnath Dham</h1>
            <h2>
              Amazing Badrinath Mandir Tours, Explore Our Popular Travel Agency<br>
            </h2>
            <p>Welcome To Uttarkhand And Andamon Nikobar Islands</p>
            <p>!! Kedarnath has great glory. Due to the unfavorable climate here, this temple opens for darshan between the months of April to November. !! </p>
          </section>
      </section>

      <section class="container-boxes">
        <div class="box">
          <div class="text">
            <a href="">
              <h3>Book Now</h3>
              <p>Kedarnath</p>
              <p>Gandhi Sarovar</p>
              <p>Gaurikund Temple </p>
            </a>
          </div>
        </div>
        <div class="box">
          <div class="text">
            <a href="">
              <h3>Visit time </h3>
              <p> 6:00 AM </p>
              <p>shrrngaar: 7:30 am to 8:30 pm</p>
              <p> Evening: 5:00 pm </p>
            </a>
          </div>
        </div>
        <div class="box">
          <div class="text">
            <a href="">
              <h3>पूजा का क्रम</h3>
              <p>1 कालिक पूजा</p>
              <p>2 महाभिषेक पूजा</p>
              <p>3 लघु रुद्राभिषेक</p>
            </a>
          </div>
        </div>
      </section>
      <section class=packagesoffers id=packagediv>
        <div class="container headings text-center">
        <h1 class="text-center font-weight-bold">Visit to Kedarnath Dham</h1>
        <h2>Popular Destination And Affordable Packages For Kedarnath</h2>
        </div>
        </section>
        <section>
            <div class="travel-tour travel-light-grey">
                    <div class="tour-wrap">
                        <a href="#" class="tour-entry animate-box">
                            <div class="tour-img" style="background-image: url(images/kedarnath.jpg);"><p class="imgp">केदारनाथ मंदिर</p></div>
                            <span class="desc">
                                <h2>Family Tour in Kedarnath Dham</h2>
                                <span class="city">Uttarakhand</span>
                                <span class="price">Rs: 980/-</span>
                                <button class="cart-b">Add to cart</button>
                            </span>
                        </a>
                        <a href="#" class="tour-entry animate-box">
                            <div class="tour-img" style="background-image: url(images/gauri.jpg);"><p class="imgp">गौरीकुंड मंदिर</p></div>
                            <span class="desc">
                                <h2>Family Tour in Gaurikund Temple</h2>
                                <span class="city">Uttarakhand</span>
                                <span class="price">Rs: 650/-</span>
                                <button class="cart-b">Add to cart</button>
                            </span>
                        </a>
                        <a href="#" class="tour-entry animate-box">
                            <div class="tour-img" style="background-image: url(images/gandhi.jpg);"><p class="imgp">गांधी सरोवर</p></div>
                            <span class="desc">
                                <h2>Family Tour in Gandhi Sarovar</h2>
                                <span class="city">Uttarakhand</span>
                                <span class="price">Rs: 549/-</span>
                                <button class="cart-b">Add to cart</button>
                            </span>
                        </a>
                        <a href="#" class="tour-entry animate-box">
                            <div class="tour-img" style="background-image: url(images/heli.jpg);"><p class="imgp">केदारनाथ हेलीपैड</p></div>
                            <span class="desc">
                                <h2>Family Tour in Kedarnath Helipad</h2>
                                <span class="city">Uttarakhand</span>
                                <span class="price">Rs: 549/-</span>
                                <button class="cart-b">Add to cart</button>
                            </span>
                        </a>
                    </div>
            </div>
            </section>

        
                <section class="details-div">
                    <marquee><h4>!! ॐ !! Kedarnath temple is located in Rudraprayag district of Uttarakhand state of India. Kedarnath Temple is one of the four Jamshedar and Panch Kedar, joining the twelve Jyotirlingas in the lap of the Himalayan Mountains in Uttarakhand. Due to the unfavorable climate here, this temple opens for darshan between April to November. </h4> </marquee>
                    <h1> -: Kedarnath Temple: - </h1>
                    <p> Kedarnath temple is located in Rudraprayag district of Uttarakhand state of India. Kedarnath Temple is one of the four Jamshedar and Panch Kedar, joining the twelve Jyotirlingas in the lap of the Himalayan Mountains in Uttarakhand. Due to the unfavorable climate here, this temple opens for darshan between the months of April to November. It is said about this temple made of stones from Katyuri style that it was built by Janmejaya of Pandava dynasty. The Swayambhu Shivling located here is very ancient. Adi Shankaracharya renovated this temple
                        Kedarnath remained the most affected area due to flash floods and landslides in the states of Uttarakhand and Himachal Pradesh in India during June 2013. Temple walls fell and swept away in floods
                    </p>
                        <h2> -: Glory and History: - </h2>
                        <p> Kedarnath has great glory. Badrinath and Kedarnath are the two main pilgrimages in Uttarakhand, both of which have great significance in their views. It is written in relation to Kedarnath that the person who travels to Badrinath without seeing Kedarnath, his journey is fruitless and the philosophy of Nara-Narayana-murti including Kedarnapath has been shown to attain the salvation of all sins. </p>
                        <h2> -: Story: - </h2>
                        <p> The history of the establishment of this Jyotirlinga in a nutshell is that on the Kedar Shringa of the Himalayas, Mahatapasvi Nara and Narayana Rishi, the incarnation of Lord Vishnu, performed penance. Pleased with his worship, Lord Shankar appeared and according to his request provided the bride to live forever as a Jyotirlinga. This place is located on the Kedarnath mountain Raja called Kedar in the Himalayas. </p>
                        <h2> -: Kedarnath Yatra: - </h2>
                        <p> Yatra to Kedarnath Dham is one of the important four temples of the sacred Chota Char Dham Yatra in Uttarakhand. The Chota Char Dham Yatra is conducted every year. Other than the Kedarnath Yatra, the other temples are Badrinath, Gangotri, and Yamunotri. The date of opening of the Madir is fixed every year to join the Kedarnath Yatra. The opening date of the temple is decided by the priests of the Omkareshwar temple located in Ukhimath after the Hindu calendar is counted. </p>
                </section> 
</body>
</html>