 
 <!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="UTF-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel Genix</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"/>
      <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet"/>
	<link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <div>
        <i class="fas fa-plane"></i>
        <h2>Travel Genix</h2>
      </div>
      <nav class="navbar navbar-light bg-light">
        <ul>
          
          <li><a href="/index">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/package">Package</a></li>
          {{!-- <li><a href="/Register">Register</a></li> --}}

		  {{!-- <li><a href="/login">Log In</a></li> --}}
          {{!-- <li><a href="/contact">Contact_Us</a></li> --}}
          <li><a href="/logout">LogOut</a></li>

        </ul>
      </nav>
	</header>
	
		

  </body>
</html>
