.travel-main {
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-weight: 200;
    }
    .travel-main a {
    position: relative;
    color: #ffce14;
    text-decoration-line: none;
    }
header {
    display: flex;
    justify-content: space-between;
    color: #ffce14;
    background: #0f2453;
  }
  header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "roboto";
    margin: 0 2rem;
  }
  header div i {
    font-size: 2rem;
    margin: 1rem;
  }
  header nav {
    padding: 1rem 1rem;
  }
  nav ul li {
    list-style: none;
    display: inline;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
  }
  nav li a {
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
    color: white;
    transition: all 250ms ease-in;
  }
  nav li a:hover {
    background: #ffce14;
    color: black;
  }